.kid {

    animation: drop-in;
    animation-duration: 1s;
    font-family: Arial, Helvetica, sans-serif;

    white-space: pre;

}

.harmony {

    animation: drop-in;

    animation-duration: 1s;

    font-family: "commissioner-variable", sans-serif;
    font-variation-settings: "VOLM" 0, "FLAR" 0, "slnt" 100, "wght" 100;
    font-size: 3em;
}

.kpop {

    animation: drop-in;

    animation-duration: 1s;


    font-family: "gluten-variable", sans-serif;
    font-variation-settings: "slnt" -500, "wght" 150;
    font-size: 2.5em;

}