.kid {
    /* white-space: pre; */
    display: grid;

    animation-fill-mode: forwards;
    animation-iteration-count: 1;



    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;

    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;

    background-color: black;
    color: black;

}


.harmony {


    font-family: "commissioner-variable", sans-serif;
    font-variation-settings: "VOLM" 0, "FLAR" 0, "slnt" -1, "wght" 100;
    font-size: 3em;


    text-align: center;
}

.harmony:hover {

    /* animation: widen;
    animation-duration: 1s;
    animation-fill-mode: forwards; */

}

.lift:hover {

    animation: lifting;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.beat:hover {

    animation: beating;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.hammer:hover {

    animation: sledge;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.beef:hover {

    animation: widen;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.kpop {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    font-family: "nanum-pen", sans-serif;

    font-style: normal;

    margin-left: 10%;
    margin-right: 10%;

    white-space: break-spaces;
}

.kpop h2 {

    margin: 0;
    font-weight: 600;
    font-size: 2em;

}
.kpop h3 {

    margin: 0;
    font-weight: 400;
    font-size: 2em;

}

.kpop h1 {

    margin: 0;


    font-weight: 400;
    font-size: 2.5em;

}


footer a {
    font-family: "nanum-pen", sans-serif;
    font-size: 3em;
    font-style: normal;

    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    animation-delay: 20s;

    animation: slideLeftReturnStay;
    animation-duration: 4s;
  
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

    transform: translateX(-1000px);


}


footer {

    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}


.beat a {

    color: red;
    font-variation-settings: "VOLM" 0, "FLAR" 0, "slnt" -8;
}

.hammer a {

    font-family: "nanum-pen", sans-serif;
    text-decoration: none;
    font-size: 1.3em;

    color: rgb(117, 0, 226);
}

  
.all a {
  
    color: red;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
  
}

h4 {

    
    font-family: "nanum-pen", sans-serif;
    text-decoration: none;
    font-size: 2em;
}

p, ul {

    
    font-family: "commissioner-variable", sans-serif;
    font-variation-settings: "VOLM" 0, "FLAR" 0, "slnt" -1, "wght" 400;
    font-size: 1.1em;
}

footer .old {

    margin: 0;
    padding: 2em;
    background-color: rgb(78, 78, 78);


    font-size: 0.5em;
}

footer .old a {
    color: aqua;
}

.grid-parent11 a {
    font-family: "commissioner-variable", sans-serif;
    font-variation-settings: "VOLM" 0, "FLAR" 0, "slnt" -1, "wght" 500;
    font-size: 1em;
}

.grid-parent11 a:hover {
    text-decoration: underline;
}