@import 'animation.css';
@import 'font.css';
@import 'timing.css';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100vh;


}


.grid-parent1 {

  display: grid;

}


.grid-parent2 {

  display: grid;
  align-items: flex-end;
  /* justify-content: space-evenly; */

  background-color: peachpuff;


  padding: 5%;
  padding-left: 40%;
}

.grid-parent3 {

  display: grid;
  align-items: flex-end;
  justify-content: space-evenly;


}