@import 'animation.css';
@import 'font.css';
@import 'timing.css';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100vh;


}

.section1 {
  animation-fill-mode: forwards;
  animation-name: rotateRight;
  animation-duration: 2s;
  animation-delay: 6s;
}

.section2 {
  display: grid;
}



.grid-parent1 {

  display: grid;

}


.grid-parent2 {

  display: grid;
  align-items: flex-end;
  /* justify-content: space-evenly; */

  background-color: peachpuff;


  padding: 5%;
  padding-left: 40%;
}

.grid-parent3 {

  /* display: grid;
  align-items: flex-end;
  justify-content: space-evenly; */


}

.grid-parent11 a {
  animation-fill-mode: forwards;
  animation-name: vanishInLink;
  animation-duration: 1s;
  animation-delay: 11s;

  color: black;
  text-decoration: none;
}


.heads {

  display: grid;

  height: 30vh;
}

.left {


  grid-column: 1;
  align-items: end;
  text-align: end;

  animation: greyPurple;
  animation-duration: 4s;

  animation-fill-mode: forwards;
  animation-iteration-count: 1;

}

.middle {
  background-color: rgb(158, 158, 158);

  grid-column: 2;
  align-items: center;
  text-align: center;

  animation: greyPink;
  animation-duration: 4s;

  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 4.8s;
}

.right {
  background-color: rgb(182, 182, 182);
  grid-column: 3;

  animation: greyYellow;
  animation-duration: 10s;

  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 9.4s;
}

.border {
  background-color: palevioletred;
  padding: 2vh;
}

.gen1 {
  color: rgb(117, 0, 226);

  animation: slideLeftReturn;
  animation-duration: 4s;

  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  transform: translateX(-1000px);
}



.gen2 {


  color: rgb(218, 32, 110);

  animation: slideLeftReturn;
  animation-duration: 4s;

  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  transform: translateX(-1000px);
}



.gen3 {

  color: rgb(255, 131, 73);


  animation: slideLeftReturn;
  animation-duration: 4s;

  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  transform: translateX(-1000px);
}



.gen4 {

  color: rgb(255, 131, 73);


  animation: slideLeftReturn;
  animation-duration: 4s;

  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  transform: translateX(-1000px);
}

.all {
  color: rgb(36, 36, 36);


  animation: slideLeftReturnStay;
  animation-duration: 4s;

  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  transform: translateX(-1000px);


}